		<footer class="site-footer ly">
			<div class="container grid">
				<div class="newsletter w-4">
					<p>Envie d'être à jour ?</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
					<form action="">
						<input type="text" placeholder="S'abonnez à la newsletter">
					</form>
				</div>
				<div class="meteores">
				</div>
				<div class="menu-left w-2 s-7">
					<p class="main-item">Nos services</p>
					<ul>
						{% for item in menu_footer.items %}
							<li><a href="{{ item.url }}">{{ item.name }}</a></li>
						{% endfor %}
					</ul>
				</div>
				<div class="menu-right w-2 s-9">
					<p class="main-item">Nos services</p>
					<ul>
						{% for item in menu_footer_two.items %}
							<li><a href="{{ item.url }}">{{ item.name }}</a></li>
						{% endfor %}
					</ul>
				</div>
				<div class="contact w-2 s-11">
					<p class="main-item">Nous contacter</p>
					<a href="#" class="btn btn-black">Nous contacter</a>
				</div>
			</div>
		</footer>
	
		<!-- JS -->
		<script>
			window.APP = window.APP || {}
			APP.BASE_URL = "{{ site.url }}"
			APP.BASE_URL_RELATIVE = "{{ site.url|relative }}"
			APP.THEME_URL = "{{ site.theme.uri }}"
			APP.AJAX_URL = "{{ fn('admin_url', 'admin-ajax.php') }}"
		</script>


		<div class="load-scripts">
			{{ wp_footer }}
		</div>

	</body>
</html>