		<footer class="site-footer ly">
			<div class="container grid">
				<div class="newsletter w-5">
					<div class="title-big">
						<p>Envie d'être à jour ?</p>
					</div>
					<p class="text-news">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
					<form action="">
						<div class="input-container">
							<input type="text" placeholder="S'abonnez à la newsletter">
							<svg class="arrow-icon" width="24" height="24" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M40.0388 13.1699L40.0427 38.963M40.0427 39.0001L40.0427 67.0001" stroke="#1A1A1A" stroke-linecap="round" stroke-linejoin="round" />
								<path d="M12 39.0002L36.2877 14.7125C38.3379 12.6622 41.6621 12.6622 43.7123 14.7125L68 39.0002" stroke="#1A1A1A" stroke-linecap="round" stroke-linejoin="round" />
							</svg>
						</div>
					</form>
				</div>
				<div class="meteores">
				</div>
				<div class="menu-left w-2 s-7">
					<p class="main-item">Nos services</p>
					<ul>
						{% for item in menu_footer.items %}
							<li><a href="{{ item.url }}">{{ item.name }}</a></li>
						{% endfor %}
					</ul>
				</div>
				<div class="menu-right w-2 s-9">
					<p class="main-item">Nos services</p>
					<ul>
						{% for item in menu_footer_two.items %}
							<li><a href="{{ item.url }}">{{ item.name }}</a></li>
						{% endfor %}
					</ul>
				</div>
				<div class="contact w-2 s-11">
					<p class="main-item">Nous contacter</p>
					<a href="#" class="btn btn-black">Nous contacter</a>
					<p class="phone">
						02 31 08 44 82<br>
						Av. de la libération,<br>14230 le ponto
					</p>
					<div class="reseaux">
						{% include "img_webp.twig" with {
							url: site.theme.path ~ '/images/icons/Facebook.png', 
						} %}
						{% include "img_webp.twig" with {
							url: site.theme.path ~ '/images/icons/Instagram.png', 
						} %}
						{% include "img_webp.twig" with {
							url: site.theme.path ~ '/images/icons/Linkedin.png', 
						} %}
					</div>
						
						
				</div>
			</div>
			<div class="container full-font">
				{% include "img_webp.twig" with {
					url: site.theme.path ~ '/images/icons/full-font.png', 
				}%}
			</div>
			<div class="container mentions">
				<p>@2024 - Performance Galaxy. Tout droits réservés - Mentions légales</p>
				<p>My Digital School MDFS 1</p>
			</div>
		</footer>
	
		<!-- JS -->
		<!-- Swiper JS -->
  		<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
		<script>
			window.APP = window.APP || {}
			APP.BASE_URL = "{{ site.url }}"
			APP.BASE_URL_RELATIVE = "{{ site.url|relative }}"
			APP.THEME_URL = "{{ site.theme.uri }}"
			APP.AJAX_URL = "{{ fn('admin_url', 'admin-ajax.php') }}"
		</script>


		<div class="load-scripts">
			{{ wp_footer }}
		</div>

	</body>
</html>