<!DOCTYPE html>
<html lang="{{ site.language }}" dir="ltr">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5, minimal-ui, shrink-to-fit=no">
		<meta name="theme-color" content="#ffffff">

		<title>{{ fn('wp_title') }}</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
		<!-- Favicons -->
		<!-- <link rel="apple-touch-icon" sizes="57x57" href="{{ site.theme.path ~ '/images/favicon/' }}apple-icon-57x57.png">
		        <link rel="apple-touch-icon" sizes="60x60" href="{{ site.theme.path ~ '/images/favicon/' }}apple-icon-60x60.png">
		        <link rel="apple-touch-icon" sizes="72x72" href="{{ site.theme.path ~ '/images/favicon/' }}apple-icon-72x72.png">
		        <link rel="apple-touch-icon" sizes="76x76" href="{{ site.theme.path ~ '/images/favicon/' }}apple-icon-76x76.png">
		        <link rel="apple-touch-icon" sizes="114x114" href="{{ site.theme.path ~ '/images/favicon/' }}apple-icon-114x114.png">
		        <link rel="apple-touch-icon" sizes="120x120" href="{{ site.theme.path ~ '/images/favicon/' }}apple-icon-120x120.png">
		        <link rel="apple-touch-icon" sizes="144x144" href="{{ site.theme.path ~ '/images/favicon/' }}apple-icon-144x144.png">
		        <link rel="apple-touch-icon" sizes="152x152" href="{{ site.theme.path ~ '/images/favicon/' }}apple-icon-152x152.png">
		        <link rel="apple-touch-icon" sizes="180x180" href="{{ site.theme.path ~ '/images/favicon/' }}apple-icon-180x180.png">
		        <link rel="icon" type="image/png" sizes="192x192" href="{{ site.theme.path ~ '/images/favicon/' }}android-icon-192x192.png">
		        <link rel="icon" type="image/png" sizes="32x32" href="{{ site.theme.path ~ '/images/favicon/' }}favicon-32x32.png">
		        <link rel="icon" type="image/png" sizes="96x96" href="{{ site.theme.path ~ '/images/favicon/' }}favicon-96x96.png">
		        <link rel="icon" type="image/png" sizes="16x16" href="{{ site.theme.path ~ '/images/favicon/' }}favicon-16x16.png">
		        <link rel="manifest" href="{{ site.theme.path ~ '/images/favicon/' }}manifest.json"> -->

	{{ wp_head }}
	</head>

		<body class="" data-barba="wrapper"> <header class="site-header ly">
			<div
				class="container">
				{# Logo #}
				<a href="{{ site.url }}" class="site-logo">
					<img src="{{ site.theme.path ~ '/images/logo.png' }}" alt="{{ site.name }}">
				</a>
				{# Navigation #}
				<nav class="site-nav">
					<ul>
						{% for item in menu_main.items %}
							<li>
								<a href="{{ item.url }}">{{ item.name }}</a>
							</li>
						{% endfor %}
						{# <li><a href="#">Nos services</a></li>
						                        <li><a href="#">Actualités</a></li>
						                        <li><a href="#">Nos partenaires</a></li>
						                        <li><a href="#">Qui sommes-nous ?</a></li> #}
					</ul>
				</nav>
				{# Mobile Navigation #}
				{# <button class="site-nav-toggle" aria-label="Toggle Navigation">
				                    <span></span>
				                    <span></span>
				                    <span></span>
				                </button> #}
				{# Contact Button #}<a href="{{ site.url }}/contact" class="site-contact btn btn-black"> Contact</a>
			</div>
		</header>
	</body>
</html>
