<section class="ly banner">
	<div class="meteore-right">
		{% include "img_webp.twig" with {
			url: site.theme.path ~ '/images/icons/aste-bleu.svg', 
			para : 'mete1'
		} %}
	</div>
	<div class="meteore-left">
		{% include "img_webp.twig" with {
			url: site.theme.path ~ '/images/icons/aste-bleu.svg', 
			para : 'mete2'
		} %}
	</div>
	<div class="grid_pattern">
		{% include "img_webp.twig" with {
			url: site.theme.path ~ '/images/grid_pattern.svg', 
		} %}
	</div>
	<div class="container grid">
		<div class="w-6 w-lg-5 left">
			<div class="left-content">
				<div class="text">
					<div class="title-big">
						<h1>{{entry.title}}</h1>
					</div>
					<p>{{entry.content}}</p>
				</div>
				<div class="buttons">
					<a href="{{entry.bouton_1.url}}" class="btn btn-black">{{entry.bouton_1.title}}</a>
					<a href="{{entry.bouton_2.url}}" class="btn btn-white">{{entry.bouton_2.title}}</a>
				</div>
			</div>
		</div>
		<div class="w-6 w-lg-7 right">
			<div class="right-content w-3">

				<p class="text">
					{{entry.intro}}
				</p>
				{# {% include "img_webp.twig" with {
																																				                                                url: site.theme.path ~ '/images/talking_arrow.svg',
																																				                                            } %} #}
				{% include "img_webp.twig" with {
                                                url: entry.image.url,
                                                class: 'photo'
                                            } %}
			</div>
		</div>
	</div>


</section>
