<section class="ly news">
	<div class="container">

		<span class="badge">
			<strong>Actualités</strong>
		</span>
		<div class="title-small">
			<p>Restez informé des dernières nouvelles et des événements chez Performance Galaxy</p>
		</div>
		<div class="news-grid wrapper">
			{% for index, post in posts %}

				<a href="{{ post.permalink }}" title="{{ post.post_title }}" class="card _{{index+1}}">
					<div class="content">
						<div class="text">
							<h3 tabindex="0">{{ post.post_title|nop }}</h3>
							<p>{{ post.post_content|striptags|length > 210 ? post.post_content|striptags|slice(0, 210) ~ '...' : post.post_content|striptags  }}</p>
						</div>
						<div class="info">
							<p>{{ post.post_date|date('d/m/Y') }}</p>

							<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
								<path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"/>
							</svg>

						</div>
					</div>
				</a>
			{% endfor %}

		</div>
	</div>
</section>
