{% extends 'base.twig' %}
{% block content %}

	<div data-barba="wrapper">
		<main class="view {{ body_class }}" data-barba="container" data-barba-namespace="single-abonnement" data-scroll-container>
			<section class="ly single-offre">
				<div class="container">
					<div class="top-content">
						<div class="left">
							<div class="title-big">
								<h1>{{page}}</h1>
							</div>
							<p>{{page.content}}</p>
							<ul>
								{% set liste = page.get_field('items')%}
								{% for item in liste %}
									<li>
										<svg xmlns=" http://www.w3.org/2000/svg" viewbox=" 0 0 24 24" fill=" currentColor" class=" size-6">
											<path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12Zm13.36-1.814a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25Z" clip-rule="evenodd"/>
										</svg>
										{{item.item}}
									</li>
								{% endfor %}
							</ul>
							<a href="{{ site.url }}/contact" class="site-contact btn btn-black">Nous contacter</a>

						</div>
						<div class="right">
							{% include "img_webp.twig" with {
                                url: site.theme.path ~ '/images/Location.png',
                                alt: 'theme.jpg'
                            } %}
						</div>
					</div>
					<div class="tabs">
						<input type="radio" id="tab1" name="tab-control" checked>
						<input type="radio" id="tab2" name="tab-control">
						<input type="radio" id="tab3" name="tab-control">
						<ul>
							<li title="Tab 1">
								<label for="tab1" role="button">
									<span>Tab 1</span>
								</label>
							</li>
							<li title="Tab 2">
								<label for="tab2" role="button">
									<span>Tab 2</span>
								</label>
							</li>
							<li title="Tab 3">
								<label for="tab3" role="button">
									<span>Tab 3</span>
								</label>
							</li>
						</ul>

						<div class="slider">
							<div class="indicator"></div>
						</div>
						<div class="content">
							{% set tabs = page.get_field('tabs') %}
							{% for item in tabs %}
								<div>
									{{item.text}}
								</div>
							{% endfor %}
						
						</div>
					</div>
					{% include "rassurance.twig" %}
					{% set seo = page.get_field('seo') %}
					<div class="read-more-section">
						<div class="title-medium">
							<h3>{{seo.title}}</h3>
						</div>
						<input type="checkbox" id="read-more-check">
						{{seo.content}}
						<label for="read-more-check" class="read-more-button btn btn-black"></label>
					</div>
				</div>

			</section>
		</main>
	</div>
{% endblock %}
